@model IEnumerable<OlifransShopping.DAL.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusAtivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriadoData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificadoData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmDestaque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.CategoriaNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusAtivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriadoData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificadoData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmDestaque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
